:root {
    --green: #44C697;
    --darkblue: #1E2E36;
    background-color: #000000;
}

/* body,
a,
button {
    color: var(--darkblue);
    font-family: ProximaNova;
    font-weight: 700;
    font-size: 18px;
} */

.body-wrapper {
    min-height: 100%;
    overflow: hidden;
}

/* ._conteiner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
} */

